.expense-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  
  .expense-card {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: left;
    transition: transform 0.2s;
  }
  
  .expense-card:hover {
    transform: translateY(-5px);
  }
  
  .expense-card h3 {
    color: #4a90e2;
  }
  
  .expense-card p {
    color: #333;
    margin: 5px 0;
  }

    /* Grid view */
  .grid {
    display: inline-block;
    width: 30%; 
    margin: 10px;
  }

  /* List view */
  .list {
    display: block;
    width: 80%;
    margin: 10px 0;
  }

  button {
    background-color: #4CAF50; 
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px; 
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  
  button:hover {
    background-color: #45a049; 
    transform: scale(1.05); 
  }
  
  .button-space {
    margin-right: 10px;
  }

  .edit-btn {
    background-color: #2196F3; 
  }
  
  .edit-btn:hover {
    background-color: #1976D2; 
  }
  
  /* Styling for Delete Button */
  .delete-btn {
    background-color: #f44336; 
  }
  
  .delete-btn:hover {
    background-color: #d32f2f; 
  }
  
  /* Styling for View Toggle Button */
  .toggle-view-btn {
    background-color: #FF9800; 
  }
  
  .toggle-view-btn:hover {
    background-color: #FB8C00; 
  }